// Project fonts
$open-font-family = "Open Sans"
$open-font-base-path = "../fonts/OpenSans/"
$overpass-font-family = "Overpass"
$overpass-font-base-path = "../fonts/Overpass/"
$fonts-formats = woff2 woff

font-face(
  local_name: "Open",
	family: $open-font-family,
	file-name: "open-sans-v17-latin_cyrillic-regular",
	base-path: $open-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
  local_name: "Open",
	family: $open-font-family,
	file-name: "open-sans-v17-latin_cyrillic-800",
	base-path: $open-font-base-path,
	formats: $fonts-formats,
	weight: 800,
	style: normal
)

font-face(
  local_name: "Open",
	family: $open-font-family,
	file-name: "open-sans-v17-latin_cyrillic-300",
	base-path: $open-font-base-path,
	formats: $fonts-formats,
	weight: 300,
	style: normal
)

font-face(
  local_name: "Open",
	family: $open-font-family,
	file-name: "open-sans-v17-latin_cyrillic-600",
	base-path: $open-font-base-path,
	formats: $fonts-formats,
	weight: 600,
	style: normal
)

font-face(
  local_name: "Overpass",
	family: $overpass-font-family,
	file-name: "overpass-v4-latin-regular",
	base-path: $overpass-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
  local_name: "Overpass",
	family: $overpass-font-family,
	file-name: "overpass-v4-latin-600",
	base-path: $overpass-font-base-path,
	formats: $fonts-formats,
	weight: 600,
	style: normal
)

font-face(
  local_name: "Overpass",
	family: $overpass-font-family,
	file-name: "overpass-v4-latin-700",
	base-path: $overpass-font-base-path,
	formats: $fonts-formats,
	weight: 700,
	style: normal
)
