*,
*::after,
*::before
    box-sizing border-box

body
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6, ul
    margin 0
    padding 0

.container
    container()
    sm(max-width, rem(540))
    md(max-width, rem(670))
    lg(max-width, rem(960))
    xl(max-width, rem(1140))
    xxl(max-width, rem(1260))

.container-small
    container()
    sm(max-width, rem(720))
    md(max-width, rem(990))
    lg(max-width, rem(990))
    xl(max-width, rem(990))
    xxl(max-width, rem(990))


#bike_lp
    font-size calc(100vw/20)

    +md-block()
        font-size calc(100vw/48)

    +lg-block()
        font-size calc(100vw/120)

.bike_lp
    color $primary-text