section.section.section--intro
	.container-small
		.intro
			.intro__content
				img(src="./img/svg/logo.svg", alt="").intro__content-img
				h1.intro__title Мы продаем велосипеды
				p.intro__text Наш магазин отбирает только самые лучшие велосипеды для продажи
			.intro__form
				p.intro__form-text Заполните поля ниже и мы подберем<br> велосипед Вашей мечты
				form(action="URL").intro__forms
					input(type="name" placeholder="Введите Ваше Имя").intro__form-name
					input(type="tel" placeholder="Введите Ваш номер телефона").intro__form-phone
					button(type="submit").intro__form-btn Подобрать велосипед мечты	