header.header
	.container-small
		img(src="./img/svg/logo.svg", alt="Логотип").header__logo
		.header__menu
			a(href="#").header__menu-item О нас
			a(href="#").header__menu-item Виды велосипедов
			a(href="#").header__menu-item Видео про велосипеды
			a(href="#").header__menu-item Контакты