.header
	position absolute
	top: 0
	width 100%

	&__logo
		margin-top 1.5625em

		+lg-block()
			display none

	&__menu
		display none

		+lg-block()
			display flex
			justify-content space-between
			border-bottom: 1px solid #4d4d4d
			padding 1.32em 0 0.5625em

	&__menu-item
		text-decoration none
		font-size 1rem
		font-family 'Open Sans', sans-serif
		font-weight 300
		line-height 2
		color #fff
		opacity 0.7

		&:first-child
			margin-left 1.32em

		&:last-child
			margin-right 1.32em	