section.section.section--kind
	.container
		.kind
			h1.kind__title Виды велосипедов
			.kind__cards
				.kind__card.kind__card-one
					img(src="./img/kind/card-m-bg1.png", alt="").kind__card-m-bg
					img(src="./img/kind/card-desc-bg1.png", alt="").kind__card-desc-bg
					img(src="./img/kind/card-img1.png", alt="").kind__card-img1
					h1.kind__card-title Дорожный велосипед
				.kind__card.kind__card-two
					img(src="./img/kind/card-m-bg2.png", alt="").kind__card-m-bg
					img(src="./img/kind/card-desc-bg2.png", alt="").kind__card-desc-bg
					img(src="./img/kind/card-img2.png", alt="").kind__card-two-img1
					img(src="./img/kind/card-img2.png", alt="").kind__card-two-img2
					h1.kind__card-title Горный велосипед
				.kind__card.kind__card-three
					img(src="./img/kind/card-m-bg3.png", alt="").kind__card-m-bg
					img(src="./img/kind/card-desc-bg3.png", alt="").kind__card-desc-bg
					img(src="./img/kind/card-img3.png", alt="").kind__card-img3
					h1.kind__card-title Детский велосипед