.information

	&__items

		+sm-block()
			display flex
			flex-wrap: wrap
			justify-content center

		+lg-block()
			justify-content space-around	

	&__item
		margin-bottom 3em
		&:last-child
			margin-bottom 4.37em

		+sm-block()
			margin-left: 2.56em
			margin-bottom 1em
			width 40%

			&:nth-child(3n)
				margin-left 0
			&:first-child
				margin-left 0
		
		+lg-block()
			margin-left 0
			width 19%

	&__title
		font-family 'Open Sans', sans-serif
		font-size 1.5rem
		line-height 1.7
		font-weight 600
		color: #1f1f1f
		text-align center

	&__num
		font-size 1.75rem
		line-height 1.36
		font-weight 700
		font-family 'Overpass', sans-serif
		text-align center
		color #0AD9C6
		margin 1.2em 0 0.16em

	&__item-descr
		font-size 1.125rem
		line-height 2.2
		color #000
		font-family 'Overpass', sans-serif
		text-align center
		font-weight 400
		margin 0
