section.section
	.container
		.information
			.information__title Несколько фактов о нас
			.information__items
				.information__item
					h1.information__num 01
					p.information__item-descr Самый широкий выбор велосипедов!
				.information__item
					h1.information__num 02
					p.information__item-descr Доставка велосипедов по всей России!
				.information__item
					h1.information__num 03
					p.information__item-descr Большой выбор крутых аксессуаров!
				.information__item
					h1.information__num 04
					p.information__item-descr Профессиональные консультации!
