section.section
	.address
		h1.address__title Как нас найти?
		p.address__descr Мы находимся по адресу: Санкт-Петербург, ул. Большая Конюшенная, д. 19
		.address__map
			img(src="./img/address/map.png", alt="")