.address
	+lg-block()
		padding: 16em 0 1.2em;

	&__title
		font-size 1.125rem
		font-family 'Open Sans', sans-serif
		font-weight 600
		line-height 1.875em
		color: #1f1f1f
		padding: 7.5em 0 1.2em;
		text-align center

		+lg-block()
			padding: 0

	&__descr
		font-size 1.06rem
		line-height 1.82em
		font-family 'Open Sans', sans-serif
		text-align center
		color: #4d4d4d
		margin-top: 0
		margin-bottom 2.35em

	&__map
		text-align center

		img
			max-width 100%