section.section
	.container-small
		.pickup
			p.pickup__text Заполните поля ниже и мы подберем велосипед Вашей мечты
			form(action="URL").pickup__forms
				input(type="name" placeholder="Введите Ваше Имя").pickup__form-name.pickup__form
				input(type="tel" placeholder="Введите Ваш номер телефона").pickup__form-phone.pickup__form
				button(type="submit").pickup__form-btn Подобрать велосипед мечты