footer.footer
	.container-small
		.footer__content
			a(href="#").footer__mail
				img(src="./img/footer/mail.svg", alt="").footer__mail-img
				span.footer__mail-text puteshestviemechta@gmail.ru
			a(href="#").footer__phone
				img(src="./img/footer/phone.svg", alt="").footer__phone-img
				span.footer__phone-text +7 (499) -784-684-46