section.section.section--video
	.container-small
		.video-content
			h1.video__title Видео про велосипеды
			p.video__descr В этом видео мы подробно расскажем про особенности выбора велосипеда для себя. 
			.video.video--enabled
				a.video__link(href="https://www.youtube.com/watch?v=knvk2eWkvwk&list=WL&index=36&t=86s")
					picture
						source(srcset="./img/video/video-bg.webp" type="image/webp")
						img.video__media(src="./img/video/video-bg.jpg" alt='Подарок за первую покупку: набор Glam Team')
				button.video__button(type="button" aria-label="Запустить видео")
					svg.video__button-svg(viewBox='0 0 186 187', fill='none', xmlns='http://www.w3.org/2000/svg')
						circle(cx='93.0065', cy='93.4349', r='92.8729', fill-opacity='0.9')
						path(d='M78.8144 63.9583L119.694 93.4348L78.8144 122.911V63.9583Z', fill='black')