.section--video
	background-color #131314

.webp
	.section--video
		background-image url('../img/content/video-section-bg.webp')
	.video
		background-image url('../img/content/OPRRRYis16k.webp')

.video-iframe
	position relative
	width 100%
	background-color #000000

.video-content
	background-color #131314
	
.video
	position relative
	width 100%
	height 0
	padding-bottom 37%
	transform: translateY(3.125em)

	+sm-block()
		padding-bottom 36%
		transform: translateY(4.125em)
		width 70%
		margin auto
	
	+lg-block()
		width 95%

	&__title
		font-family 'Open Sans', sans-serif
		font-size 1.5rem
		line-height 1.25
		color: #ffffff
		text-align center
		font-weight 600
		padding 3.4em 0 0.83em

	&__descr
		font-family 'Open Sans', sans-serif
		font-size 1rem
		line-height 1.8
		text-align center
		font-weight 300
		color: #ffffff
		opacity 0.7
		margin 0

		+sm-block()
			width 60%
			margin auto
			
		+lg-block()
			margin-bottom 3.125em

	&__media
		position absolute
		top 50%
		transform translateY(-50%)
		left 0
		width 100%
		height auto
		border none

		&--iframe 	
			height 100%

	&__button
		position absolute
		top 50%
		left 50%
		z-index 1
		display none
		padding 0
		width 4.0625em
		height 4.0625em
		border none
		border-radius: 50%
		transform translate(-50%, -50%)
		cursor pointer

		&-svg
			fill #0AD9C6
		
		&-circle
			fill none
			stroke #fff
			stroke-width 4px
			fill-rule evenodd
			transform scale(0.95)translate(1px, 1px)

		&-icon
			fill #ffffff

		&:focus
			outline none










.video:hover .video__button-shape,
.video__button:focus .video__button-shape
	fill #ff0000
	fill-opacity 1

/* Enabled */

.video--enabled
	cursor pointer

.video--enabled .video__button
	display block

.html5-endscreen.ytp-player-content.videowall-endscreen.ytp-show-tiles
	display none!important